<%- include("includes/head.ejs") %>
<body>
    <h1>This page belongs to @<%= data.name %></h1>
    <button>follow</button>
    <button>message</button>
    <h2>Accounts that follow you</h2>
    <p>followers : <%= data.followers %> &nbsp;&nbsp;&nbsp;
       Following : <%= data.following %> 
    </p>
    <hr>

    <% for(let post of data.posts) { %>
        <img src="<%= post.image %>" alt="some img">
        <p>likes : <%= post.likes %> &nbsp;&nbsp;&nbsp; 
            comments : <%= post.comments %>
        </p>
    <% } %>
    <%- include("includes/footer.ejs") %>
</body>
</html>